if [[ $(qm list | grep {{ args_proxmox_id }}) ]]; then
    echo "exists"
    if [[ -z $(qm list | grep {{ args_proxmox_id }} | grep stopped) ]]; then
        echo "not stopped"
        qm stop {{ args_proxmox_id }} --skiplock true
    fi
    qm destroy {{ args_proxmox_id }} --destroy-unreferenced-disks true --purge true --skiplock true
fi

qm clone {{ args_proxmox_template_id }} {{ args_proxmox_id }} --name "{{ args_proxmox_name }}" --full

qm set {{ args_proxmox_id }} -net0 virtio={{ args_mac_address }},bridge=vmbr0,firewall=1,tag={{ args_vlan }}

qm start {{ args_proxmox_id }}
